.header-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-menu span {
    display: block;
    font-size: 16px;
    color: var(--dark);
}

.header-menu ul {
    margin: 0;
    padding: 0;
}

.header-menu ul li {
    width: 32px;
    height: 32px;
    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
    list-style: none;
    float: left;
    margin-left: 5px;
    transition: 250ms background-color, 250ms border-color;
}

.header-menu ul li:hover {
    border-color: #ccc;
    background: #eee;
    transition: 250ms background-color, 250ms border-color;
}

.header-menu ul li a {
    display: block;
    line-height: 32px;
    color: var(--orange);
}
