.status-item {
    height: 80px;
    background: #fff;
    border: 10px solid #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 10px;
}

.status-item.active {
    border: 10px solid var(--orange);
}

.status-item:hover {
    border: 10px solid var(--gray);
}

.status-item div:first-child {
    margin-left: 10px;
    font-size: 24px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.status-item div:last-child {
    flex: 3;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.status-item div:last-child span:first-child {
    display: block;
    font-size: 14px;
    color: var(--dark);
}
.status-item div:last-child span:last-child {
    display: block;
    font-size: 14px;
    color: var(--gray);
}
