.status-item-mini {
    height: 40px;
    background: #fff;
    border: 5px solid #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

.status-item-mini.active {
    border: 5px solid var(--orange);
}


.status-item-mini div:first-child {
    margin-right: 5px;
    font-size: 18px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #ddd;
}

.status-item-mini div:last-child {
    flex: 3;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ddd;
}

.status-item-mini div:last-child span {
    display: block;
    font-size: 14px;
    color: #ddd;
}

.status-item-mini select {
    height: 30px;
    border: 0;
    font-size: 14px;
    color: var(--dark);
}
