.summary-tab-buttons-container {
    width: 100%;
    background: var(--orange);
    border: 1px solid #ddd;
    border-bottom: 0!important;
    padding: 5px 5px 0 5px;
    overflow: auto;
}

.summary-content-container {
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    border-top: 0!important;
    padding: 15px;
    overflow-x: auto;
}
